body {
    background: var(--background-gradient);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

a {
    position: relative;
    margin: 15px 90% 0 0;
    font-size: 20px;
    text-decoration: none;
    color: var(--link-default);
    padding: 10px;
    transition: all ease-in-out 0.5s;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background: var(--button-gradient);
    z-index: -1;
    transition: width ease-in-out 0.5s;
    border-radius: 15px;
}

a:hover::after {
    width: 100%;
}

a:hover {
    color: var(--button-text);
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 700px);
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.competition-container {
    background-color: var(--background-dark-2);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    height: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.competition-logo {
    width: 100px;
}

.teams-card {
    background-color: #393e46;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: solid 2px var(--primary);
    height: 75%;
    padding: 1rem;
}

#champions-team-container,
#libertadores-teams-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    align-items: center;
    height: 100%;
}

#champions-team-container img:not(#chelsea, #barcelona, #arsenal, #liverpool, #real-madrid),
#libertadores-teams-container img {
    width: 82px;
}

#chelsea,
#barcelona,
#arsenal,
#liverpool,
#real-madrid {
    width: 90px;
}

button {
    border: none;
    background: var(--button-gradient);
    color: var(--button-text);
    padding: 12px 8px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 22px;
    width: 200px;
    cursor: pointer;
}

button:hover {
    background: var(--button-gradient-hover);
    transition: 0.5s;
}

.disabled-button {
    cursor: not-allowed;
    background: #d3d3d3;
}

.disabled-button:hover {
    background: #d3d3d3;
}

.selected-button {
    background: var(--secondary);
    color: #ffffff;
}

.selected-button:hover {
    background: var(--secondary);
    color: #ffffff;
}

#mask {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 15px;
    background-color: #393e46;
    border: solid 2px var(--primary);
    width: 50%;
    left: 25%;
    top: -330px;
    position: fixed;
    transition: top 1s ease-in-out;
}

dialog h1 {
    color: var(--primary);
}

.dialog-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.home-team-container,
.visiting-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.scoreboard {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 120%;
    margin-top: 20px;
    color: var(--text-main);
}

#home-team-goals,
#visiting-team-goals {
    font-size: 72px;
    font-weight: bold;
}

#show-result-button {
    margin-top: 1.2rem;
}