body {
    background-image: url('../assets/imgs/fundo-games.png');
    background-size: cover;
    padding: 2rem;
}

.clashes-container {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    border-radius: 15px;
    margin: 5rem 0;
}