:root {
    --primary: #62D2A2;
    --secundary: #1A2A3AA2;
    --details: #3A8FB7;
    --main-background: #F5F7F8;
    --dark-background: #223645;
    --main-text: #1E1E1E;
    --secundary-text: #5F6B73;
    --text-to-dark-background: #F3F3F3;
    --borders-lines: #E1E5E8;
    --default-links: #55C39E;
    --links-hover: #3A8FB7;
    --error-alert: #E63946;
    --success-alert: #6EE7B7;
    --label-radio: #393e46;
    --gradient-button: linear-gradient(135deg, #62D2A2 0%, #3A8FB7 100%);
    --gradient-button-hover: linear-gradient(135deg, #55C39E 0%, #2E7CA3 100%);
    --background-header: rgb(245, 247, 248, 0.5);
    --nav-dashboard: #2DBB57;
    --footer-background: rgba(26, 42, 58, 0.3);
    --icons-color: rgb(0, 0, 0, 0.7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}