@keyframes roll {

    0% {
        transform: translateX(0) rotate(0deg);
    }

    100% {
        transform: translateX(calc(50vw - 50px)) rotate(360deg);
    }
}

body {
    display: grid;
    grid-template-columns: 35% 1fr;
    height: 100vh;
    background-color: var(--main-background);
    animation: fadeIn 1s ease-in-out forwards;
}

.banner-login {
    background: url('../assets/imgs/papel-de-parede-login.png');
    background-size: cover;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.dados-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 15px;
    height: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container img {
    width: 200px;
}

.logo-container a {
    text-decoration: none;
    font-size: 18px;
    color: var(--default-links);
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 6px;
    padding: 10px;
    position: relative;
}

.logo-container a::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background: var(--gradient-button-hover);
    border-radius: 15px;
    transition: width ease-in-out 0.5s;
}

.logo-container a:hover::after {
    width: 100%;
}

.logo-container a:hover {
    color: var(--text-to-dark-background);
    transition: ease-in-out .8s;
}

.logo-container a:active {
    opacity: 0.7;
    transition: ease-in-out .3s;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.floating-input {
    position: relative;
}

.floating-input label {
    color: var(--secundary-text);
    font-size: 1.30rem;
    position: absolute;
    top: 15px;
    left: 5px;
    transition: all .5s;
    pointer-events: none;
}

.floating-input input {
    border: none;
    border-bottom: solid 2px var(--borders-lines);
    opacity: 100%;
    outline: none;
    padding: 10px 8px;
    font-size: 1.15rem;
    color: var(--secundary-text);
    width: 20vw;
    background: transparent;
}

.floating-input input:focus~label,
.floating-input input:not(:placeholder-shown)~label {
    top: -10px;
    left: 0;
    font-size: 1rem;
    color: var(--success-alert);
    font-weight: 500;
}

.floating-input input:focus,
.floating-input input:not(:placeholder-shown) {
    border-bottom: solid 2px var(--success-alert);
}

h1 {
    color: var(--primary);
    margin-bottom: 2rem;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-input-container span {
    font-size: 1rem;
    color: var(--secundary-text);
}

.floating-input .fa-solid {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 1.5rem;
    color: var(--secundary-text);
}

.fa-eye {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.fa-eye:hover {
    color: var(--primary);
}

.fa-eye:active {
    opacity: 0.7;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 15px;
}

button {
    border: none;
    background: var(--gradient-button);
    font-size: 22px;
    color: var(--text-to-dark-background);
    font-weight: bold;
    cursor: pointer;
    padding: 11.5px 5px;
    width: 200px;
    border-radius: 15px;
    transition: all ease 0.3s;
}

button:hover {
    background: var(--gradient-button-hover);
    transform: translateY(-5px);
}

button:active {
    opacity: 0.8;
    transform: translateY(0);
}

.button-container span {
    color: var(--secundary-text);
    font-size: 1rem;
}

.button-container a,
.login-input-container a {
    color: var(--default-links);
    font-weight: bold;
    font-size: 1.1rem;
    transition: all ease-in-out 0.3s;
}

.button-container a:hover,
.login-input-container a:hover {
    color: var(--links-hover);
    text-decoration: none;
}

.ball-container img {
    width: 80px;
    position: absolute;
    top: 0;
    animation: roll 10s linear infinite;
}

.ball-container {
    border-bottom: solid 2px var(--primary);
    width: 50vw;
    position: relative;
    padding: 30px 0;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
    top: 0;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}