@keyframes imageEffect {

    0%,
    100% {
        scale: 1;
        box-shadow: 4px 4px 8px 0 #ffffff;
    }

    50% {
        scale: 1.1;
        box-shadow: 4px 4px 8px 0 var(--primary);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vw;
}

header img {
    width: 180px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    width: 100%;
    background: var(--header-background);
    box-shadow: 0 4px 4px 0 var(--primary);
    position: fixed;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

li {
    font-size: 20px;
}

ul a {
    text-decoration: none;
    color: var(--text-main);
    position: relative;
    font-weight: bold;
    padding-bottom: 8px;
    transition: all ease-in-out 0.5s;
}

ul a::after {
    content: '';
    width: 0;
    position: absolute;
    background: var(--button-gradient);
    height: 2.5px;
    bottom: 0;
    left: 0;
    transition: width ease-in-out 0.5s;
}

ul a:hover::after {
    width: 100%;
}

ul a:hover {
    color: var(--link-hover);
}

header button {
    border: none;
    background: var(--button-gradient);
    font-size: 20px;
    color: var(--button-text);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 7px;
    width: 150px;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;
}

header button:hover {
    background: var(--button-gradient-hover);
}

header button:active {
    opacity: 0.8;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-gradient);
    position: relative;
    min-height: 100vh;
}

.main-content {
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.text-container {
    text-align: center;
    color: var(--text-to-dark-background);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

h1 {
    font-size: 45px;
}

.text-container p {
    font-size: 25px
}

.main-buttons-container {
    display: flex;
    gap: 1rem;
}

.comments-button {
    border: none;
    width: 220px;
    background: var(--gradient-button);
    cursor: pointer;
    color: var(--text-to-dark-background);
    font-size: 22px;
    font-weight: bold;
    padding: 15px 5px;
    border-radius: 15px;
    transition: all ease 0.3s;
}

.games-button {
    border: solid 2px var(--text-to-dark-background);
    width: 220px;
    background: transparent;
    cursor: pointer;
    color: var(--text-to-dark-background);
    font-size: 22px;
    font-weight: bold;
    padding: 15px 5px;
    border-radius: 15px;
    transition: all ease 0.3s;
}

.comments-button:hover,
.games-button:hover {
    transform: scale(1.05);
}

.comments-button:active,
.games-button:active {
    transform: scale(1);
    opacity: 0.8;
}

.story-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color: var(--main-background);
}

.banner-image {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/fundo-historias.jpg);
}

.banner-image img {
    width: 420px;
    height: 460px;
    border-radius: 10px;
    animation: imageEffect ease-in-out 3s infinite;
}

.history-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
}

.history-description-container div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.history-description-container div img {
    width: 50%;
}

.history-description-container h2 {
    font-size: 35px;
}

#games-section {
    background-image: url(../assets/imgs/fundo-games.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#games-section h2 {
    position: absolute;
    top: 0;
    margin-top: 2rem;
    font-size: 35px;
    color: var(--text-to-dark-background);
    padding: 1rem;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.game-card {
    background-color: var(--main-background);
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
}

.game-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.game-card div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-card h4 {
    font-size: 25px;
    color: var(--button-games);
}

.game-card p {
    text-align: justify;
    color: var(--secundary-text);
}

.game-card button {
    border: none;
    color: var(--text-to-dark-background);
    background-color: var(--button-games);
    width: 150px;
    border-radius: 10px;
    padding: 8px 5px;
    margin-left: 1rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.3s;
}

.game-card button:hover {
    opacity: 0.8;
    transform: translateY(-5px);
}

.game-card button:active {
    opacity: 0.6;
    transform: translateY(0);
}

#comments-section {
    background-color: var(--main-background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#comments-section h2 {
    position: absolute;
    top: 0;
    margin-top: 1.5rem;
    font-size: 35px;
    color: var(--main-text);
}

.comments-card {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../assets/imgs/fundo-card-comentarios.png);
    border-radius: 10px;
    padding: 0.8rem;
}

.comments-card img {
    width: 100px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.comments-card q {
    color: var(--text-to-dark-background);
    font-weight: bold;
    text-align: justify;
}

.comments-card div {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.comments-card h4 {
    color: var(--success-alert);
    font-size: 20px;
}

.comments-card span {
    color: var(--text-to-dark-background);
    font-size: 17px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
    align-items: center;
    background-color: var(--footer-background);
    height: 100px;
}

footer p {
    color: var(--text-to-dark-background);
    font-weight: bold;
    border-right: solid 2px #ffffff;
    padding-right: 8px;
}

footer div {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer img {
    filter: invert(100%);
    width: 70px;
    cursor: pointer;
}

.logo-linkedin {
    width: 50px;
}

.logo-whatsapp {
    width: 55px;
}