@keyframes imageEffect {

    0%,
    100% {
        scale: 1;
        box-shadow: 4px 4px 8px 0 #ffffff;
    }

    50% {
        scale: 1.1;
        box-shadow: 4px 4px 8px 0 var(--primary);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vw;
}

header img {
    width: 180px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    width: 100%;
    background: var(--header-background);
    box-shadow: 0 4px 4px 0 var(--primary);
    position: fixed;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

li {
    font-size: 20px;
}

ul a {
    text-decoration: none;
    color: var(--text-main);
    position: relative;
    font-weight: bold;
    padding-bottom: 8px;
    transition: all ease-in-out 0.5s;
}

ul a::after {
    content: '';
    width: 0;
    position: absolute;
    background: var(--button-gradient);
    height: 2.5px;
    bottom: 0;
    left: 0;
    transition: width ease-in-out 0.5s;
}

ul a:hover::after {
    width: 100%;
}

ul a:hover {
    color: var(--link-hover);
}

header button {
    border: none;
    background: var(--button-gradient);
    font-size: 20px;
    color: var(--button-text);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 7px;
    width: 150px;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;
}

header button:hover {
    background: var(--button-gradient-hover);
}

header button:active {
    opacity: 0.8;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-gradient);
    position: relative;
    min-height: 100vh;
}

.main-content {
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.text-container {
    text-align: center;
    color: var(--text-to-dark-background);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

h1 {
    font-size: 45px;
    color: var(--text-main);
}

.text-container p {
    font-size: 25px;
    color: var(--text-main);
}

.main-buttons-container {
    display: flex;
    gap: 1rem;
}

.comments-button {
    border: none;
    width: 220px;
    background: var(--button-gradient);
    cursor: pointer;
    color: var(--button-text);
    font-size: 22px;
    font-weight: bold;
    padding: 15px 5px;
    border-radius: 15px;
    transition: all ease 0.3s;
}

.games-button {
    border: solid 2px var(--accent);
    width: 220px;
    background: transparent;
    cursor: pointer;
    color: var(--accent);
    font-size: 22px;
    font-weight: bold;
    padding: 15px 5px;
    border-radius: 15px;
    transition: all ease 0.3s;
}

.comments-button:hover,
.games-button:hover {
    transform: scale(1.05);
}

.comments-button:active,
.games-button:active {
    transform: scale(1);
    opacity: 0.8;
}

.story-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    background-color: var(--main-background);
}

.banner-image {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/imgs/fundo-historias.jpg);
}

.banner-image img {
    width: 420px;
    height: 460px;
    border-radius: 10px;
    animation: imageEffect ease-in-out 3s infinite;
}

.history-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
}

.history-description-container div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.history-description-container div img {
    width: 50%;
}

.history-description-container h2 {
    font-size: 35px;
}

#site-content-section {
    height: 90vh;
    background: var(--background-gradient);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#site-content-section h2 {
    margin-top: 2rem;
    font-size: 35px;
    color: var(--text-main);
    padding: 1rem;
    text-align: center;
}

.site-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    padding: 1.5rem;
    gap: 3rem;
}

.dash-container,
.game-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: solid 2px var(--primary);
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 7rem;
    width: fit-content;
    height: fit-content;
}

.dash-container img,
.game-container img {
    width: 600px
}

.dash-container p,
.game-container p {
    color: var(--text-main);
    font-size: 20px;
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
    align-items: center;
    background-color: var(--footer-background);
    height: 100px;
}

footer p {
    color: var(--text-to-dark-background);
    font-weight: bold;
    border-right: solid 2px #ffffff;
    padding-right: 8px;
}

footer div {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer img {
    filter: invert(100%);
    width: 70px;
    cursor: pointer;
}

.logo-linkedin {
    width: 50px;
}

.logo-whatsapp {
    width: 55px;
}